@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background: url("/images/fondoAzul.jpg") no-repeat;
  background-size: cover;
}

#form {
  background: transparent;
  /* border: 2px solid rgb(0, 57, 61); */
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px rgb(114, 249, 253);
  color: white;
  border-radius: 20px;
  padding: 10px 28.5px;
}

#form h1 {
  font-size: 40px;
}

#form .input-box {
  position: relative;
  margin-top: 5px;
  background: transparent;
}

.input-box input {
  text-align: center;
  width: 100%;
  height: 10px;
  background: transparent;
  outline: none;
  border: 2px solid green;
  border-radius: 40px;
  font-size: 15px;
  color: white;
  padding: 15px 10px 15px 20px;
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 20px;
}

#form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 8px 20px;
}

.remember-forgot label input {
  accent-color: white;
}

.remember-forgot a {
  color: white;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

#form .btn {
  margin-left: 40px;
  margin-top: 15px;
  width: 80%;
  height: 40px;
  background: rgb(255, 95, 3);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 8px 8px 8px black;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 300;
}

#form .register-link {
  margin: 15px 15px;
  font-size: 15px;
  text-align: center;
}

.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.contenedor {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
}

.fila {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

#espacio {
  padding: 160px;
}

/*Pantalla escritorio grande - LARGE (lg)*/
@media (min-width: 1200px) {
  /* (n*100/12) */
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.6666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}

/*Pantalla escritorio mediano - MEDIUM (md)*/
@media (max-width: 1199px) and (min-width: 992px) {
  /* (n*100/12) */
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.6666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}

/*Pantalla de tablet - SMALL (sm)*/
@media (max-width: 991px) and (min-width: 769px) {
  /* (n*100/12) */
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.6666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}

/*Pantalla de phones - EXTRA SMALL (xs)*/
@media (max-width: 767px) {
  /* (n*100/12) */
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.6666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
}
